@font-face { 
	font-family: Sue Ellen Francisco;
	src: url('Sue Ellen Francisco.ttf'); 
}

@font-face { 
	font-family: OldSchool;
	src: url('KrinkesDecorPERSONAL.ttf'); 
}

.land
{
	fill: #FF5050;
	fill-opacity: 1;
	stroke: #FFFFFF;
	stroke-opacity: 1;
	stroke-width: 0.7px;
}

.land:hover
{
	fill: #E71D32;
	opacity: 1;
	stroke: #FFFFFF;
	stroke-opacity: 1;
	stroke-width: 0.7px;
}

html
{
	background-color: #E0E0E0;
	font-family: Helvetica;
}

body
{
	margin: 0;
}

div#map_wrapper
{
	float: left;
	width: 100%;
	background-color: #FFFFFF;
}

div#map
{

	width: 60%;
	margin: 0 auto;
	margin-top: 80px;
}

svg
{
	width: 100%;
	height: auto;
	transform: scale(1);
}





header
{
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 94vh;
	background-image: url('DSC_0992.JPG');
	background-size: cover;
	background-color: #959595;
	background-blend-mode: multiply;
	-webkit-transition: height 0.1s ease-in;
    -moz-transition: height 0.1s ease-in;
    -ms-transition: height 0.1s ease-in;
    -o-transition: height 0.1s ease-in;
    transition: height 0.1s ease-in;
    font-family: OldSchool;
    font-size: 50px;
    color: #FFFFFF;
}

header div
{
	margin:0 auto;
	padding-top: 40vh;
	text-align: center;
}

header#scrolled
{
	height: 0;
	position: relative
}

ul#menu
{
	position: fixed;
	top:0;
	z-index: -1;
	width: 100%;
	height: 70px;
	float: left;
	font-family: Sue Ellen Francisco;
	background-color: #323232;
	color: #FFFFFF;
	padding-left: 15.5%;
	padding-right: 15.5%;
	margin:0;
}

li.clickable
{
	font-size: 20px;
	float: left;
	width: 15%;
	height: 70px;
	text-align: center;
	display: inline-block;
	padding-top: 19px;
}

li#logo
{
	font-family: OldSchool;
	font-size: 30px;
	float: left;
	width: 39%;
	height: 70px;
	text-align: center;
	display: inline-block;
	padding-top: 19px;
}

li.menu_item a:hover
{
	color: #7CC7FF;
}

li.menu_item a
{
	text-decoration: none;
	color: #FFFFFF;
}



div#country_search_wrapper
{
	float: left;
	background-color: #121212;
	width: 100%;
	position: relative;
	height: 69px;
}

div#country_search
{
	width: 30%;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}

a#search_button
{
	font-family: Sue Ellen Francisco;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}

a#search_button:hover
{
	color: #7CC7FF;
}

input#search_input
{
	border: none;
	background-color: #E0E0E0;
	font-size: 20px;
}

div#arrow_down
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 69px;
	z-index: 500;
	/*margin-left: 50%;*/
	float: left;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #121212;
}


div#footer_wrapper
{
	background-color: #121212;
	width: 100%;
	float: left;
}

div#footer
{
	width: 60%;
	margin: 0 auto;
	padding: 30px 0 100px 0;
	color: #EBEBEB;
	text-align: center;
	
}

div#main_wrapper
{
	background-color: #FFFFFF;
	width: 100%;
	float: left;
}

div#main
{
	width: 60%;
	margin: 0 auto;
}

div#article
{
	width:100%;
	float: left;
	padding: 10px 0 10px 0;
	background-color: #E0E0E0;
	margin: 15px 0 15px 0;
}

div#article_list
{
	width:100%;
	float: left;
	padding: 10px 0 10px 0;
	background-color: #E0E0E0;
	margin: 30px 0 15px 0;
}

div.stat
{
	height: 150px;
	width: 150px;
	margin: 0 calc((100% - 4*150px)/8);
	float: left;
}

div#statistics
{
	width: 100%;
	float: left;
	margin: 15px 0 30px 0;
	background-color: #E0E0E0;
	padding: 20px 0 20px 0;
}

div#stat1
{
	background-color: #4178BE;
}

div#stat2
{
	background-color: #006D5D;
}

div#stat3
{
	background-color: #144D14;
}

div#stat4
{
	background-color: #562F72;
}